body{
    padding-left: 40px;
}

h1 {
    text-align: center;
    color: rgb(85, 16, 16);
}

p {
    font-size: 18px;
    margin-left: 20px;
}

ul, ol {
    font-size: 18px;
    font-weight: bold;
    color: rgb(85, 16, 16);
}

li {
    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
    color: black;
}

b {
    color: rgb(85, 16, 16);
}

img {
    width: 450px;
    height: 198px;
    margin-right: 125px;  
}

a {
    color: red;
    text-decoration: none;
}