h1 {
    color: red;
    text-align: center;
    padding-top: 15px;
}

.wrapper {
    width: 480px;
    margin-left: 400px;
    background-color: rgb(231, 137, 161);
}


p {
    margin-left: 50px;
}

.text_input {
    height: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.checkbox_input {
    margin-left: 70px;
}

.submit_button {
    margin-left: 350px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 30px;
    width: 110px;
}